---
import PostPreview from '@/components/PostPreview.astro';
import Layout from '@/layouts/Layout.astro'
import { getAllPosts, getUniqueTags } from '@/repository/post';
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';

export const getStaticPaths = (async () => {
	const posts = await getAllPosts();
	const tags = getUniqueTags(posts);

    return tags.flatMap((tag) => ({
        params: { tag },
        props: { 
            tag, 
            posts: posts.filter((post) => post.data.tags.includes(tag)),
        },
    }))
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { tag, posts } = Astro.props;
---

<Layout>
    <div class="flex flex-col gap-6">
        <h1 class="text-xl font-semibold text-gray-900">#{tag}</h1>
        <div class="flex flex-col gap-2">
            {posts.map((post) => (
                <PostPreview post={post} />
            ))}
        </div>
    </div>
</Layout>
