---
const links = [
    {
        title: "home",
        path: "/"
    },
    {
        title: "about",
        path: "/about"
    },
    {
        title: "blog",
        path: "/blog"
    }
]
---

<nav class="flex justify-between items-center">
    <div class="flex flex-col items-start gap-y-2">
        <div class="text-xl">
            lutzzdias
        </div>
        <div class="flex rounded-md divide-x">
            {
                links.map((link) => (
                    <a
                        class="px-4 first:pl-0 underline-offset-2 hover:underline py-0"
                        data-astro-prefetch
                        href={link.path}
                    >
                        {link.title}
                    </a>
                ))
            }
        </div>
    </div>

    <!-- TODO: implement search -->
    <button>
        Search
	</button>

</nav>
