---
import "@/styles/global.css";
import Navbar from "@/components/layout/Navbar.astro";
import Footer from "@/components/layout/Footer.astro";
---

<!doctype html>
<html lang="en" class="h-full scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>lutzzdias</title>
	</head>

	<body
		class="flex flex-col gap-12 mx-auto  min-h-screen max-w-3xl px-8 py-10 font-mono text-sm font-normal antialiased "
	>
        <Navbar />
        <main>
            <slot />
        </main>
        <Footer />
	</body>
</html>
